%h2= "#{@traveller}'s Bucket List"



%ul#destinations
  - @traveller_destinations.each do |destination|
    %li.destination{:id => ["destination", destination.id]}
      %h2= destination.name
      %img.bucket-image-large{:src => destination.image_url}
        %ol.activities
          - destination.activities.each do |activity|
            = render activity
        .add-activity
          = render partial: "activities/new_activity.html.haml", locals: {destination: destination}

#add-destination
  = form_for @destination, remote: true do |f|
    %fieldset
      = f.label :name
      = f.text_field :name

    %fieldset
      = f.label :image_url, "Image URL"
      = f.text_field :image_url

    = f.submit "Add Destination", :id => "add-destination-button"   